/* .flex-div-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
} */

/* .tab-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

/* .tab-navigation__tabs {
  display: flex;
} */

/* .tab-navigation__tabs button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */

.tab-navigation__content {
  position: relative;
  border-radius: 10px;
  border: 1px solid gray;
  border-top: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  top: -10px;
}

/* list of messages */
.last-messages {
  background-color: #f5f5f5;
}

.last-messages h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.last-messages ul {
  list-style: none;
  padding: 0;
}

.last-messages li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.last-messages li:last-child {
  border-bottom: none;
}

.last-messages li a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.last-messages li a:hover {
  text-decoration: underline;
}

.count-box h2 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
